@mixin before_cirkle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        left: -10px;
        top: -6px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
        z-index: -1;
    }
}

@mixin before_cirkle2 {
    &:before {
        content: '';
        position: absolute;
        width: 15px;
        left: -25px;
        top: 2px;
        height: 15px;
        background: $main-color;
        border-radius: 100%;
        z-index: -1;
    }
}