.sidepanel {
    position: absolute;
    width: 340px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 360px;
    left: -100px;
    transform: rotate(-90deg);
    &__trait {
        width: 0px;
        height: 70px;
        border: 1px solid #000000;
        transform: rotate(-90deg);
    }
    &__link {
        transform: rotate(90deg);
        transition: 0.5s all;
        &:hover{
            transform: rotate(180deg);
            }
    }
    &__wr {
        width: 90px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}